.header__nav {
  background-color: #FFFFFF;
  display: flex;
  padding: 12px 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e8eb;
}

/* Agrega aquí el resto del header desde navbarBEM.css */
