/* Hola hola */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.banner-section,
.cards {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.banner-section {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 928px;
  margin: 0 auto;
  padding: 12px;
  width: 928px;
  margin: 0 auto;
  padding: 12px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/img/Angela/Angela-F-Principal.png) lightgray 50% / cover no-repeat;
}

.banner-section__titulo,
.banner-section__texto {
  color: #fff;
  margin: 0 0 20px 0;
  align-self: flex-start;
}

.banner-section__texto {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.banner-section__titulo {
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -2px;
}

.banner-section__btn {
  height: 48px;
  padding: 8px 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e82933;
  color: white;
}

.cards__container {
  margin: 0 auto;
  width: 928px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  gap: 12px;
}

.cards__titulo {
  max-width: 928px;
  margin: 0 auto;
  padding-top: 10px;
}

.card__img {
  max-width: calc((928px - 16px) / 3);
  height: auto;
}

.card {
  margin: 0;
  padding: 0;
}

.card__titulo {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.card__texto {
  color: #876363;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

figcaption * {
  margin: 0;
  padding: 0;
}

figcaption {
  margin-top: 16px;
}